div{
    background-image: url("pictures/background.png");
    
}
h1{
   
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color:palevioletred;
    text-align: center;
    font-size: 50px;
}
h2{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: lightgreen;
    font-size: 40px;
}
h4{
    font-family: 'Dancing Script', cursive;
    color: lightsalmon;
    font-size: 20px;
}
article {
    font-family: 'Great Vibes', cursive;
    color:whitesmoke;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
ul, ol {
    margin-left: 20px;
}